body{margin:0px;padding:0px;}
a{text-decoration:none;color: #fff; }
a:hover{text-decoration:none;color:#F9F900; }
.nav a{ display:block; height:100%; width:100%; color: #000000; }
.nav a:hover{background-color:#a8a5a5}
